<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Student</th>
      <th>Tutor</th>
      <th>Slot</th> <th>time</th> <th>place</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <% students = session.students %>
      <% tutors = session.tutors %>
      <% if session.slot_id %>
        <% slot = Slot.find(session.slot_id) %>
      <% end %>
      <tr>
        <td><%= session.id %></td>

        <% if students.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
            <td>
              <% students.each do |student| %>
                <%= student.pname %><br>
              <% end %>
            </td>
        <% end %>

        <% if tutors.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
          <td>
            <% tutors.each do |tutor| %>
              <%= tutor.pname %><br>
            <% end %>
          </td>
        <% end %>

        <% if slot.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
          <td><%= session.slot_id %></td>
          <td><%= slot.timeslot %></td>
          <td><%= slot.location %></td>
        <% end %>
        
        <td><%= session.comments %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
