<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Student</th> <th>Name</th> <th>Init</th>
      <th>Tutor</th> <th>Name</th> <th>Init</th>
      <th>Slot</th> <th>time</th> <th>place</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <% student = session.students.first %>
      <% tutor = session.tutors.first %>
      <% if session.slot_id %>
        <% slot = Slot.find(session.slot_id) %>
      <% end %>
      <tr>
        <td><%= session.id %></td>

        <% if student.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
          <% logger.debug "views index for student - " + student.inspect %>
          <td><%= student.id %></td>
          <td><%= student.gname + ' ' + student.sname %></td>
          <td><%= student.initials %></td>
        <% end %>

        <% if tutor.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
          <td><%= tutor.id %></td>
          <td><%= tutor.gname + ' ' + tutor.sname %></td>
          <td><%= tutor.initials %></td>
        <% end %>

        <% if slot.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
          <td><%= session.slot_id %></td>
          <td><%= slot.timeslot %></td>
          <td><%= slot.location %></td>
        <% end %>
        
        <td><%= session.comments %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
