<h2>Edit Preferences</h2>

<%= form_for @user, url: user_preferences_path, html: {method: :put} do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Date of first day to display" %><br>
    <%= f.date_field :daystart %>
  </div> 

  <div class="field">
    <%= f.label "Number of days to display" %><br>
    <%= f.number_field :daydur %>
  </div> 
  
  <div class="field">
    <%= f.label "Google Spreadsheet URL" %><br>
    <%= f.url_field :ssurl %>
  </div> 

  <div class="field">
    <%= f.label "Google spreadsheet TAB name" %><br>
    <%= f.text_field :sstab %>
  </div> 

  <h3>History - days to display</h3>
  <div class="field">
    <%= f.label "Number of days to display before today" %><br>
    <%= f.number_field :history_back %>
  </div> 

  <div class="field">
    <%= f.label "Number of days to display after today" %><br>
    <%= f.number_field :history_forward %>
  </div> 

  <h3>Term - for use in term related displays</h3>
  <p>This is referenced in displaying specific students in calendar format.</p>
  <div class="field">
    <%= f.label "Date of first day of term (Monday)" %><br>
    <%= f.date_field :termstart %>
  </div> 

  <div class="field">
    <%= f.label "Number of week in this  term" %><br>
    <%= f.number_field :termweeks %>
  </div> 

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

