<h1>Check Chains</h1>
<p>Oldest day in database  : <%= @oldestdate.strftime("%a %d/%m/%Y") %></p>
<p>Newest day in database  : <%= @newestdate.strftime("%a %d/%m/%Y") %></p>
<p>Oldest chain in database: <%= @oldestslotchain.strftime("%a %d/%m/%Y") %></p>
<p>Oldest wpo (week+one)   : <%= @slotwpofirst.timeslot.strftime("%a %d/%m/%Y") %></p>
<p>Newest wpo (week+one)   : <%= @slotwpolast.timeslot.strftime("%a %d/%m/%Y") %></p>
<br>
<p>Number of slot chains: <%= @numberofchains_slots.to_s %></p>
<p>Number of slot errors: <%= @numberoferrors_slots.to_s %></p>
<p>Number of lesson chains: <%= @numberofchains_lessons.to_s %></p>
<p>Number of lesson errors: <%= @numberoferrors_lessons.to_s %></p>
<br>
<p><b>Week Plus One slots</b></p>
<% if @slotwpoweeks.count > 1 %>
<p><b>WARNING:</b> wpo slots (week plus one) are NOT all in the same week!</p>
<% end %>

<p>[ id : wpo : first : location : timeslot ]</p>
<% @wpos.each do |wpo| %>
  <p><%= wpo.inspect %></p>
<% end %>
<% @errors.each do |error| %>
  <p><%= error %></p>
<% end %>

<% if @displayshortlesson.length > 0 %>
  <h2>Short chain details</h2>
  <% @displayshort.each do |error| %>
    <p><%= error.inspect %></p>
  <% end %>
<% end %>

<% if @displayshorttutrole.length > 0 %>
  <h2>Short chain details</h2>
  <% @displayshort.each do |error| %>
    <p><%= error.inspect %></p>
  <% end %>
<% end %>

<% if @lessonlinkerroroccurred == true %>
<p>To remove lessons from a chain with disconnected links</p>
<ul>
<li>Identify the lesson containing students or tutors (number under the "students" & "tutors" header</li>
<li>Get the id under the 'first' header - this number is the same for every lesson in the chain</li>
<li>Using the date and time for your lesson containing tutors/students, open calendar using this info </li>
<li>In the calander, show comments type "cid" (chain identifier) </li>
<li>In the calander, seach (find) the number from the 'first' header. Prefix with cid if necessary.</li>
<li>This will show all lessons on the page in this chain.</li>
<li>Drag the student/student to the alternate lesson IN THIS SLOT.</li>
</ul>
<p> Once you have done this for all lessons containing students/tutors, you will be able to fix this chain.</p>
<% end %>