<h1>Admin Controller - Delete days from the scheduler</h1>
<br>
    
    <%
    # Love this very straight forward tutorial on forms
    # https://www.theodinproject.com/courses/ruby-on-rails/lessons/form-basics
    %>
    
    <% #byebug %>
    
    <%= form_tag("deletedays", method: "get") do %>
      <%= label_tag("delete[from]", "Date to delete from:") %>
      <% if params["from"].nil? %>
        <%= date_field_tag("delete[from]") %>
      <% else %>
        <%= date_field_tag("delete[from]", params["from"]) %>
      <% end %>      
      <%= label_tag("delete[num_days]", "Number of days to delete:") %>
      <% if params["num_days"].nil? %>
        <%= number_field_tag("delete[num_days]", '1', min:1) %>
      <% else %>
        <%= number_field_tag("delete[num_days]", params["num_days"]) %>
      <% end %>      
      <%= submit_tag("Delete") %>
    <% end %>
    

