<h1>Admin Controller - Load Data from Google Spreadsheet</h1>

<p> Only run these if your have your preferences set up correctly
and you are loading new data.</p>

<p>In your preferences, you must set the "Google spreadsheet url" for any upload.</p>
<p>If you are uploading schedules, then you must set the "Google spreadsheet url" for any upload.</p>

<p><b>If you reload google spreadsheet data over top of entries that are changed in this system, they will get overridden!!!</b></p>

<br>
    <ul>
      <%= link_to "loadtutors", loadtutors_path %>
      <%= link_to "loadstudents", loadstudents_path %>
      <%= link_to "loadstudents2", loadstudents2_path %>
      <%= link_to "loadschedule", loadschedule_path %>
      <%= link_to "loadtest", loadtest_path %>
      <%= link_to "loadtest2", loadtest2_path %>
    </ul>

