<h1>Admin Controller - Load Data from Google Spreadsheet</h1>
<br>
    <ul>
      <%= link_to "loadtutors", loadtutors_path %>
      <%= link_to "loadstudents", loadstudents_path %>
      <%= link_to "loadstudents2", loadstudents2_path %>
      <%= link_to "loadschedule", loadschedule_path %>
      <%= link_to "loadtest", loadtest_path %>
      <%= link_to "loadtest2", loadtest2_path %>
      <%= link_to "load", load_path %>
      <%= link_to "copydays", copydaysedit_path %>
      <%= link_to "deletedays", deletedaysedit_path %>
    </ul>

<%= link_to 'New Google', new_google_path %>
