<h1>Admin Controller - Load Data from Google Spreadsheet</h1>

<p> Only run these if your have your preferences set up correctly
and you are loading new data.</p>

<p><b>In your preferences</b>, you must set the "Google spreadsheet url" for any upload.</p>
<p>If you are uploading schedules, then you must set the "Google spreadsheet url" for any upload.</p>

<p><b>If you reload google spreadsheet data over top of entries that are changed in this system, they will get overridden!!!</b></p>

<br>
    <ul>
      <%= link_to "loadtutors", loadtutors_path %>
      <%= link_to "loadstudents", loadstudents_path %>
      <%= link_to "loadstudents2", loadstudents2_path %>
      <%= link_to "loadschedule", loadschedule_path %>  -> Tutoring rosting spradsheets in Google sheets.
      <br>
      <%= link_to "loadtest", loadtest_path %>
      <%= link_to "loadtest2", loadtest2_path %>  -> Testing
      <br>
      <br>
      <p><b>Megans Updates</b></p>
      <p> This is to load updates for students into the database. Strongly recommend that you do a test run before you do the update. Check very carefully test results. THE UPDATE OPERATATION CANNOT BE REVERSED!!!!</p>
      <%= link_to "test_megan's_updates - Run first and check results",
          loadstudentsUpdates_path(:flagDbUpdate => "test") %>
      <br>
      <br>
      <%= link_to "load megan's updates - CANNOT BE REVERSED.",
          loadstudentsUpdates_path(:flagDbUpdate => "run") %>
    </ul>
    
    
<p>Note: loadstudents is used up to and including 2017 Term 1, then you need to use loadstudents2 for Term 2 onwards.<br>
The spreadsheet format for students changed dramatically at this point</p>

<p>
Data loaded:<br>
2016 T4   https://docs.google.com/spreadsheets/d/1CbtBqeHyYb9jRmROCgItS2eEaYSwzOMpQZdUWLMvjng/edit#gid=0 <br>
<br>
2017 T1 W1-9  https://docs.google.com/spreadsheets/d/1nQOe2mzSa6-HgN9pojGZK6aE06HDENDikweIRFnOuGk/edit#gid=1316550458 <br>
2017 T2 W5-10 https://docs.google.com/spreadsheets/d/1Xu1nnc3Pjh1CnAMTyi5e6__DASmBKLo6HjJq30tB_a0/edit?usp=sharing <br>
<strike>2017 T2 W1-4  https://docs.google.com/spreadsheets/d/10TYyov61adjdZu4qTNh5vdB5mtrTMeguOCwcOlTxnr8/edit#gid=1921648879</strike><br>
Also, do NOT load tutors or students from this one!!!<br><br>
2017 T3 W1-10 https://docs.google.com/spreadsheets/d/1ouNzoxLziL6zI575ORARZ3-5TimA9Dzzeu8ZsLwUt0c/edit?usp=sharing <br>
2017 T4 W1-10 https://docs.google.com/spreadsheets/d/1HGGMDVT5BFPGurMEiEXseAxqf-WftgndwZlC46oKw6Y/edit?usp=sharing <br>
<br>
2018 T1 W1-10 https://docs.google.com/spreadsheets/d/12YPB-liEXuwedY4yLcwycc4eKmeMiIcKcE_y5kJycbU/edit?usp=sharing <br>
2018 T2 W1-5  https://docs.google.com/spreadsheets/d/1cJSV9Q2YtKnDBh2ZMKpubTT-n-SqSfWKOuiiYsYY0WU/edit#gid=0 <br>
</p>

