<h1>Admin Controller - Revert Week Plus One (WPO)</h1>
<br>
    
<%
# Love this very straight forward tutorial on forms
# https://www.theodinproject.com/courses/ruby-on-rails/lessons/form-basics
%>

<% #byebug %>

<p>Proceeding with this function will remove the last term of data.</p>
<p>It is provided as a recovery mechanims if you make a mistake in populating
   the next term. It should only be used immediately after extending a term,
   as all work done in the extended term is lost.</p>
<p>This restores the term back to the first week of the extended term - this
   week becoming the week plus one in the system. </p>
<p>HOWEVER, WORK DONE in the previous term is NO LONGER EXTENDED into
   THIS WEEK PLUS ONE area.</p>
<h2>WARNING: This operation cannot be un-done.</h2>
<br>
<% if @issue.length > 0 %>
  <p><b><%= @issue %></b></p>
<% else %>    
  <p>Current wpo entries currently span</p>
  <p>first: <%= @slotwpofirst.timeslot.strftime("%A %e/%-m/%y") %></p>
  <p>last : <%= @slotwpolast.timeslot.strftime("%A %e/%-m/%y") %></p>
  <br>
  <p>Last slot in last chain in the database is <%= @slotwpolast.timeslot.strftime("%A %e/%-m/%y") %>.</p>
  <p>First slot in last chain in the database is <%= @slotslastchain[0].timeslot.strftime("%A %e/%-m/%y") %>.</p>
  <br>
  <h4>--------------- Check the following carefully -------------------</h4>
  <p>Week Plus One (WPO) becomes:</p>
  <p>- start date: <%= @wpostartdate.strftime("%A %e/%-m/%y") %></p>
  <p>- end date  : <%= @wpoenddate.strftime("%A %e/%-m/%y") %> (up to but not including)</p>
  <br>
  <p>All data will be deleted on and after:</p>
  <p>- date: <%= @wpoenddate.strftime("%A %e/%-m/%y") %></p>

  <% if @issue.length > 0 %>
    <p><%= @issue %></p>  
  <% else %>
    <p> If happy with these deletions, press proceed.</p>
    <%= form_tag("wporevert", method: "get") do %>
      <%= submit_tag("Proceed - I understand the implications") %>
    <% end %>
  <% end %>
<% end %>
    

