<% #byebug %>
<div class="lesson <%= 'n-status-' + set_class_status_f(lesson) 
                   %><%= ' '       + set_class_run_f(   lesson)
                   %>" id=<%= slot + "n" + lesson.id.to_s.rjust(@sf, "0") %> >

  <div class="grouptutors">
    <% thistutroles.each do |thistutrole|  %>
      <% tutor = thistutrole.tutor %>
      <% if tutor then %>
        <%= render partial: "calendar/schedule_tutor", 
                   locals: {tutor: tutor, thistutrole: thistutrole, slot: slot, lesson: lesson.id} %>
      <% end %>
    <% end %>
  </div>
  
  <div class="groupstudents">
    <% thisroles.each do |thisrole| %>
      <% student = thisrole.student %>
      <% if student then %>
        <%= render partial: "calendar/schedule_student",  
                locals: {student: student, thisrole: thisrole, slot: slot, lesson: lesson.id} %>
      <% end %>
    <% end %>
  </div>

  <div class="lessoncomment comment commentinline">
    <div class="lessoncommenttext n-comments"><% if lesson.comments != nil && lesson.comments != "" %><%= lesson.comments %><% end %></div>
    <div class="lessonstatusinfo n-status"><% if lesson.status != nil && lesson.status != "" %>Kind: <%= lesson.status %> <% end %></div>
    <div class="lessoncid n-scid"><% if lesson.first != nil %>cid<%= lesson.first.to_s %> <% end %></div>
  </div>  
</div>