<% @students_stats.each do |k, v |
   student = v['student_object'] %>
  <div class="student <%= "fs" + student.id.to_s.rjust(@sf, "0") 
    %>" id=<%= "s" + student.id.to_s.rjust(@sf, "0") %> >
    <div class=persongroup>
      <div class="studentname studentinline p-name"><%= student.pname %></div>
    </div>
    <div class=personstats>
      <div class="studentstats"><%= v['total'].to_s %></div>
    </div>
    <div class=personlessons>
      <% v['dom_ids'].each_with_index do |dom_id, i| %>
        <div class="personlesson">
          <% #byebug %>
          <div class='global' data-domid=<%= dom_id %> data-kind=<%= v['role_kind'][i] %> ><%= dom_id %> = <%=
               slotDomidToText(dom_id) %> [<%= v['role_kind'][i] %>]</div>
          <div class='allocate' data-domid='' ></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
