<h1>Calendar#display2</h1>

<div class="positionable" id=comments>
  <p>Test</p>
</div>

<div class=index-tutors id=index-tutors>
    <% @tutors.each do |tutor| %>
        <% logger.debug "display (tutor)- " + tutor.inspect %>
        <div class=tutor id=<%= "t" + tutor.id.to_s.rjust(@sf, "0") %> >
            <div style=persongroup>
                <div class="tutorname tutorinline">tutor: <%= tutor.pname %></div>
                <div class="tutorcomment tutorinline"><%= tutor.comment %></div>
            </div>
        </div>
    <% end %>
</div>
<div class=index-students id=indexstudents>
    <% @students.each do |student| %>
        <% logger.debug "display (student)- " + student.inspect %>
        <div class= student id=<%= "s" + student.id.to_s.rjust(@sf, "0") %> >
            <div style=persongroup>
                <div class="studentname studentinline">student: <%= student.pname %></div>
                <div class="studentcomment studentinline"><%= student.comment %></div>
            </div>
        </div>
    <% end %>
</div>

<span class="context-menu-one btn btn-neutral">right click me</span>
<% logger.debug "--------- now render @cal ---------------------" %>
<% logger.debug "display (@cal)- " + @cal.inspect %>
<% @cal.each do |location, calLocation| %>
<% logger.debug "display (location)- " + location.inspect %>
<% logger.debug "display (calLocation)- " + calLocation.inspect %>
<table>
  <% calLocation.each do |rows| %>
    <% logger.debug "display (rows)- " + rows.inspect %>
    <tr>
    <% rows.each do |cells| %>
       <% logger.debug "display (cells)- " + cells.inspect %>
       <% if cells.key?("slotid") then %>
         <td class="cell slot" id=<%= cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0") %>  >
       <% elsif cells.key?("value") then %>
         <td class=cell %>
        <% else %>
         <td class="cell no-slot" %>
       <% end %> 
       <% if cells.key?("values") then %>       
         <% if cells["values"].respond_to?(:each) then %>
           <% logger.debug "display (cells values) exist" %>
           <% cells["values"].each do |entry| %>
             <% logger.debug "display (cells values as entries) " + entry.inspect %>
             <div class=session id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") %> >

               <% if entry.tutors.respond_to?(:each) then %>
                 <% entry.tutors.each do |tutor| %>
                   <% logger.debug "display (tutor)- " + tutor.inspect %>
                   <% if tutor then %>
                     <div class=tutor id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") + "t" + tutor.id.to_s.rjust(@sf, "0") %> >
                       <div style=persongroup>
                           <div class="tutorname tutorinline">tutor: <%= tutor.pname %></div>
                           <div class="tutorcomment tutorinline">xx-xx<%= tutor.comment %></div>
                        </div>
                     </div>
                   <% end %>
                 <% end %>
               <% end %>
               
               <% if entry.students.respond_to?(:each) then %>
                 <% entry.students.each do |student| %>
                   <% logger.debug "display (student)- " + student.inspect %>
                   <% if student then %>
                     <div class=student id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") + "s" + student.id.to_s.rjust(@sf, "0") %> >
                       <div style=persongroup>
                           <div class="studentname studentinline">student: <%= student.pname %></div>
                           <div class="studentcomment studentinline">yy-yy<%= student.comment %></div>
                        </div>
                     </div>
                   <% end %>
                 <% end %>
               <% end %>
               
             </div>
           <% end %>
         <% end %>
       <% elsif cells.key?("value") then %>     
         <%= cells["value"].to_s %>
       <% end %>
       </td>
    <% end %>
    </tr>
  <% end %>
</table>
<br>
<% end %>

  <nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li class="context-menu__item" data-action="move">
        <p>Move</p>
      </li>
      <li class="context-menu__item" data-action="copy">
        <p>Copy</p>
      </li>
      <li class="context-menu__item" data-action="paste">
        <p>Drop</p>
      </li>
      <li class="context-menu__item" data-action="remove">
        <p>Remove</p>
      </li>
      <li class="context-menu__item" data-action="addSession">
        <p>Add Session</p>
      </li>    
      <li class="context-menu__item" data-action="removeSession">
        <p>Remove Session</p>
      </li>    
    </ul>
  </nav>

    <div class="session hideme" id=sessiontemplate ></div>

