<h1>Calendar#display2</h1>

<!--<div class="positionable" id=comments>
  <p>Test</p>
</div>-->

<% listofsites = Array.new
   @cal.each do |location, calLocation| 
     listofsites.push(location)
   end
%>

<div id="selectshows">
    <input id=hidetutors class=selectshow onclick="selectshows()" type="checkbox" > hide tutors
    <input id=hidestudents class=selectshow onclick="selectshows()" type="checkbox" > hide students
    <input id=hidecomments class=selectshow onclick="selectshows()" type="checkbox" > hide comments
    <% listofsites.each do |site| %>
    <input id=<%= 'hide' + site %> class=selectshow onclick="selectshows()" type="checkbox" ><%= 'hide ' + site %> 
    <% end %>
</div>

<div class=index>
    <div class="selectbox floating-box">
        <h2>Select person</h2>
        <input type="text" id="personInput" placeholder="Shorten list by keying in meaningful characters .." title="Type in characters to reduce name list">
    </div>

    <div class=index-tutors id=index-tutors>
        <% @tutors.each do |tutor| %>
            <% logger.debug "display (tutor)- " + tutor.inspect %>
            <div class=tutor id=<%= "t" + tutor.id.to_s.rjust(@sf, "0") %> >
                <div style=persongroup>
                    <div class="tutorname tutorinline">tutor: <%= tutor.pname %></div>
                    <div class="tutorcomment tutorinline">
                        <%= tutor.subjects %>
                        <br>
                        <%= tutor.comment %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class=index-students id=index-students>
        <% @students.each do |student| %>
            <% logger.debug "display (student)- " + student.inspect %>
            <div class= student id=<%= "s" + student.id.to_s.rjust(@sf, "0") %> >
                <div style=persongroup>
                    <div class="studentname studentinline">student: <%= student.pname %></div>
                    <div class="studentcomment studentinline">
                        <%= student.sex == nil ? "" :
                            student.sex.downcase.include?("female")?
                            "(F) " : student.sex.downcase.include?("male")?
                            "(M) " : "" %>
                        Yr: <%= student.year == nil ? "   " : student.year.rjust(3) %> | <%= student.study %>
                        <br>
                        <%= student.comment %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<span class="context-menu-one btn btn-neutral">right click me</span>
<% logger.debug "--------- now render @cal ---------------------" %>
<% logger.debug "display (@cal)- " + @cal.inspect %>
<% @cal.each do |location, calLocation| %>
<% logger.debug "display (location)- " + location.inspect %>
<% logger.debug "display (calLocation)- " + calLocation.inspect %>
  <table id=site-<%= location %> >
  <% calLocation.each do |rows| %>
    <% logger.debug "display (rows)- " + rows.inspect %>
    <tr>
    <% rows.each do |cells| %>
       <% logger.debug "display (cells)- " + cells.inspect %>
       <% if cells.key?("slotid") then %>
         <td class="cell slot" id=<%= cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0") %>  >
       <% elsif cells.key?("value") then %>
         <td class=cell %>
        <% else %>
         <td class="cell no-slot" %>
       <% end %> 
       <% if cells.key?("values") then %>       
         <% if cells["values"].respond_to?(:each) then %>
           <% #sortedValues = help_sort(cells["values"]) %>
           <% logger.debug "display (cells values) exist" %>
           <% cells["values"].sort_by {|obj| [obj.status,valueOrder(obj)] }.each do |entry| %>
             <% #byebug %>
             <% logger.debug "display (cells values as entries) " + entry.inspect %>
             <div class=lesson id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") %> >
               <% if entry.tutors.respond_to?(:each) then %>
                 <% entry.tutors.sort_by {|obj| obj.pname }.each do |tutor| %>
                   <% logger.debug "display (tutor)- " + tutor.inspect %>
                   <% if tutor then %>
                     <div class=tutor id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") + "t" + tutor.id.to_s.rjust(@sf, "0") %> >
                       <div style=persongroup>
                            <div class="tutorname tutorinline <%= set_class_status(tutor, entry) %>">tutor: <%= tutor.pname %></div>
                            <div class="tutorcomment comment tutorinline <%= set_class_kind(tutor, entry) %>">
                                <%= tutor.subjects %>
                                <br>
                                <%= tutor.tutroles.where(lesson_id: entry.id).first.comment %>
                                <br>
                                <%= tutor.comment %>
                                <br>
                                Status: <%= tutor.tutroles.where(lesson_id: entry.id).first.status %>
                                Kind: <%= tutor.tutroles.where(lesson_id: entry.id).first.kind %>
                            </div>
                        </div>
                     </div>
                   <% end %>
                 <% end %>
               <% end %>
               
               <% if entry.students.respond_to?(:each) then %>
                 <% entry.students.each do |student| %>
                   <% logger.debug "display (student)- " + student.inspect %>
                   <% if student then %>
                     <div class=student id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") + "s" + student.id.to_s.rjust(@sf, "0") %> >
                       <div style=persongroup>
                            <div class="studentname studentinline <%= set_class_status(student, entry) %>">student: <%= student.pname %></div>
                            <div class="studentcomment comment studentinline <%= set_class_kind(student, entry) %>">
                                <%= student.sex == nil ? "" :
                                    student.sex.downcase.include?("female")?
                                    "(F) " : student.sex.downcase.include?("male")?
                                    "(M) " : "" %>
                                Yr: <%= student.year == nil ? "   " : student.year.rjust(3) %> | <%= student.study %>
                                <br>
                                <%= student.comment %>
                                <br>
                                Status: <%= student.roles.where(lesson_id: entry.id).first.status %>                          
                                Kind: <%= student.roles.where(lesson_id: entry.id).first.kind %>
                            </div>
                        </div>
                     </div>
                   <% end %>
                 <% end %>
               <% end %>

               <% if entry.comments != nil && entry.comments != "" %>
                 <div class="lessoncomment comment commentinline">lesson comment: <%= entry.comments %></div>
               <% end %>
               <% if entry.status != nil && entry.status != "" %>
                 <div class="lessoncomment comment commentinline">status: <%= entry.status %></div>
               <% end %>

             </div>
           <% end %>
         <% end %>
       <% elsif cells.key?("value") then %>     
         <%= cells["value"].to_s %>
       <% end %>
       </td>
    <% end %>
    </tr>
  <% end %>
  </table>
<br>
<% end %>

  <nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li id="context-move" class="context-menu__item" data-action="move">
        <p>Move</p>
      </li>
      <li id="context-copy" class="context-menu__item" data-action="copy">
        <p>Copy</p>
      </li>
      <li id="context-paste" class="context-menu__item" data-action="paste">
        <p>Drop</p>
      </li>
      <li id="context-remove" class="context-menu__item" data-action="remove">
        <p>Remove</p>
      </li>
      <li id="context-addLesson" class="context-menu__item" data-action="addLesson">
        <p>Add Lesson</p>
      </li>    
      <li id="context-removeLesson" class="context-menu__item" data-action="removeLession">
        <p>Remove Lesson</p>
      </li>    
    </ul>
  </nav>

    <div class="lesson hideme" id=lessontemplate ></div>

