<h2>Options for Calendar Flexible Display</h2>

<%= form_tag("/calendar/flexibledisplay", {method: :get}) do %>

  <div class="actions">
    <%= submit_tag "Display" %>
  </div>

     <p><b>Override default date settings</b><br>
     Complete if you wish to override the default settings<br>
     Otherwise, leave blank.</p> 
  <div class="field">
    <%= label_tag "Date of first day to display" %><br>
    <%= date_field_tag :daystart %>
  </div> 
  <div class="field">
    <%= label_tag "Number of days to display" %><br>
    <%= number_field_tag :daydur %>
  </div> 

  <div class="student_calendar"></div>
    <b>Display selected student in calendar format</b><br>
    This is a quick selection options and overrides the following sections<br>
    <%= check_box_tag(:person_calendar) %>
    <%= label_tag(:person_calendar, "Show only this student in a calendar format") %>
    <div class="textfield">
       You may have muliple students - comma separate the entries<br>
      <%= text_field_tag(:student_name) %>
      <%= label_tag(:student_name, "Student identifier") %> <br>
    </div>
  </div>
  <br>
  
  <div class="radio_buttons"></div>
    <b>Choose the purpose of this display.</b><br>
    <%= radio_button_tag(:bench, "workbench", true) %>
    <%= label_tag(:Workbench, "Calendar Work Bench") %> <br>
    <%= radio_button_tag(:bench, "roster") %>
    <%= label_tag(:Roster, "Roster Format - reduced items" ) %> <br>
    <%= radio_button_tag(:bench, "ratio") %>
    <%= label_tag(:Roster, "Student to Tutor ratio - reduced items" ) %>
  </div>
  <p>
  <div>
    <b>Display Format:</b><br>
    <%= check_box_tag(:compress) %>
    <%= label_tag(:compress, "Compressed Format - Display only the days in a site that has slots.") %>
  </div>
  <p>
  <b>-------------------- For Rosters or Ratios -------------------------</b>
  <div class="select_roster_default">
    <b>Use default settings for roster and ratio display</b><br>
    <%= check_box_tag(:select_roster_default) %>
    <%= label_tag(:select_roster_default, "default settings for roster and ratio display") %><br>
  </div>
  Note: <br>
  Status default settings include -
  <li>for students: 'attended', 'scheduled', 'deal', 'absent'</li>
  <li>for tutors  : 'attended', 'notified', 'confirmed', 'scheduled', 'deal'<br>
  When displaying ratios, the default settings for tutor "kinds" excludes 'onCall' and 'onSetup.'</li>
  <br>
  <div class="select_firstaid">
    <b>Display tutors with first aid certification<br></b>
    <%= check_box_tag(:select_tutor_firstaid) %>
    <%= label_tag(:select_tutor_firstaid, "Display TUTORS with first aid certification") %>
  </div>
  <br>
  <div class="select_none">
    <b>Disable display of tutors or students</b><br>
    <%= check_box_tag(:select_tutor_none) %>
    <%= label_tag(:select_tutor_none, "DON'T display TUTORS in roster and ratio display:") %><br>
    <%= check_box_tag(:select_student_none) %>
    <%= label_tag(:select_student_none, "DON'T display STUDENTS in roster and ratio display:") %><br>
  </div>
  <br>
  <div class="select_statuses">
    <b>Select Statuses:</b><br>
    <%= check_box_tag(:select_tutor_statuses) %>
    <%= label_tag(:select_tutor_statuses, "For TUTORS, Select the STATUSES desired in roster and ratio display:") %><br>
    <%= select_tag(:tutor_statuses, options_for_select([ 
        ['scheduled', 'scheduled'],
        ['notified', 'notified'],
        ['confirmed', 'confirmed'],
        ['attended', 'attended'],
        ['deal', 'deal'],
        ['absent', 'absent'],
        ['away', 'away'],
        ]),
        multiple: true) 
    %>  <br>
    <%= check_box_tag(:select_student_statuses) %>
    <%= label_tag(:select_student_statuses, "For STUDENTS, Select the STATUSES desired in roster and display:") %><br>
    <%= select_tag(:student_statuses, options_for_select([ 
        ['scheduled', 'scheduled'],
        ['attended', 'attended'],
        ['deal', 'deal'],
        ['absent', 'absent'],
        ['away', 'away'],
        ]),
        multiple: true) 
    %>  <br>
  </div>
  <br>
  <div class="select_kinds">
    <b>Select Kinds:</b><br>
    <%= check_box_tag(:select_tutor_kinds) %>
    <%= label_tag(:select_tutor_kinds, "For TUTORS, Select the KINDS desired in roster and ratio display:") %><br>
    <%= select_tag(:tutor_kinds, options_for_select([ 
        ['BFL', 'BFL'],
        ['OnCall', 'onCall'],
        ['OnSetup', 'onSetup'],
        ['training', 'training'],
        ['standard', 'standard'],
        ['called', 'called'],
        ['relief', 'relief'],
        ]),
        multiple: true) 
    %>  <br>
    <%= check_box_tag(:select_student_kinds) %>
    <%= label_tag(:select_student_kinds, "For STUDENTS, Select the KINDS desired in roster and ratio display:") %><br>
    <%= select_tag(:student_kinds, options_for_select([ 
        ['free', 'free'],
        ['first', 'first'],
        ['catchup', 'catchup'],
        ['fortnightly', 'fortnightly'],
        ['onetoone', 'onetoone'],
        ['standard', 'standard'],
        ]),
        multiple: true) 
    %>  <br>
  </div>
  <br>
  <b>Select the tutors and/or students to be displayed.</b><br>
  <div class="radio_buttons">
    <%= check_box_tag(:select_tutors) %>
    <%= label_tag(:select_tutors, "Select tutors used in the roster and ratio display.") %><br>
    Select the type of identifiers for thes entries. <br>
    <%= radio_button_tag(:t_type, "name", true) %>
    <%= label_tag(:t_type, "Tutor identification is by name") %> <br>
    <%= radio_button_tag(:t_type, "email") %>
    <%= label_tag(:t_type, "Tutor identification is by email") %> <br>
    <%= radio_button_tag(:t_type, "id") %>
    <%= label_tag(:t_type, "Tutor identification is by id - a database record id") %> <br>
  </div>
  <div class="textfield">
     You may have muliple tutors - comma separate the entries<br>
    <%= text_field_tag(:tutor_identifiers) %>
    <%= label_tag(:tutor_identifiers, "Tutor identifier") %> <br>
  </div>
  <br>
  <div class="radio_buttons">
    <%= check_box_tag(:select_students) %>
    <%= label_tag(:select_students, "Select students used in the roster and ratio display.") %><br>
    Select the type of identifiers for thes entries. <br>
    <%= radio_button_tag(:s_type, "name", true) %>
    <%= label_tag(:s_type, "Student identification is by name") %> <br>
    <%= radio_button_tag(:s_type, "email") %>
    <%= label_tag(:s_type, "Student identification is by email") %> <br>
    <%= radio_button_tag(:s_type, "id") %>
    <%= label_tag(:s_type, "Student identification is by id - a database record id") %> <br>
  </div>
  <div class="textfield">
     You may have muliple students - comma separate the entries<br>
    <%= text_field_tag(:student_identifiers) %>
    <%= label_tag(:student_identifiers, "Student identifier") %> <br>
  </div>
  <br>
  <div class="actions">
    <%= submit_tag "Display" %>
  </div>

<% end %>

