<div id="page_name" class="hideme">stats</div>

<div id=refreshstats class="buttonlink blockheader">Refresh</div>
<div id=refreshstatsstudents class="buttonlink blockheader">Students</div>
<h1 class=blockheader><%= @displayHeader %> - statistics for allocations</h1>

<div id="options" class="hideme">
  <%= @options.to_json %>
</div>


<div id="selectshows">
  <div>
    <div class="formatregular selectshowstats">
      <label id=hideregularlabel class='checkboxzone' for="hideregular">
        <input id=hideregular class=selectshow onclick="showregular()" type="checkbox" checked>
        Regular
      </label>
    </div>
    <div class="formatcatchup selectshowstats">
      <label id=hidecatchuplabel class='checkboxzone' for="hidecatchup">
        <input id=hidecatchup class=selectshow onclick="showcatchup()" type="checkbox" checked>
        Catchup
      </label>
    </div>
    <div class="formatfree selectshowstats">
      <label id=hidefreelabel class='checkboxzone' for="hidefree">
        <input id=hidefree class=selectshow onclick="showfree()" type="checkbox" checked>
        Free
      </label>
    </div>
    <div class="formatstats selectshowstats">
      <label id=hidestatslabel class='checkboxzone' for="hidestats">
        <input id=hidestats class=selectshow onclick="showstats()" type="checkbox" >
        Stats
      </label>
    </div>
    <div class="formatslotlessons selectshowstats">
      <label id=hideslotlessonslabel class='checkboxzone' for="hideslotlessons">
        <input id=hideslotlessons class=selectshow onclick="showslotlessons()" type="checkbox" >
        Lesson
      </label>
    </div>
  </div>
  <div>
    <div class="selectdayofweek">
      <label id=selectdowonelabel class='checkboxzone' for="selectdowone">
        <input id=selectdowone class=selectshow onclick="showhidedowone()" type="checkbox" checked>
        Monday
      </label>
    </div>
    <div class="selectdayofweek">
      <label id=selectdowtwolabel class='checkboxzone' for="selectdowtwo">
        <input id=selectdowtwo class=selectshow onclick="showhidedowtwo()" type="checkbox" checked>
        Tuesday
      </label>
    </div>
    <div class="selectdayofweek">
      <label id=selectdowthreelabel class='checkboxzone' for="selectdowthree">
        <input id=selectdowthree class=selectshow onclick="showhidedowthree()" type="checkbox" checked>
        Wednesday
      </label>
    </div>
    <div class="selectdayofweek">
      <label id=selectdowfourlabel class='checkboxzone' for="selectdowfour">
        <input id=selectdowfour class=selectshow onclick="showhidedowfour()" type="checkbox" checked>
        Thursday
      </label>
    </div>
    <div class="selectdayofweek">
      <label id=selectdowfivelabel class='checkboxzone' for="selectdowfive">
        <input id=selectdowfive class=selectshow onclick="showhidedowfive()" type="checkbox" checked>
        Friday
      </label>
    </div>
  
  
    <% listofsites = Array.new
       listoftimes = Hash.new
      @cal.each do |location, calLocation| 
        listofsites.push(location)
        calLocation.each_with_index do |o, index|
          next if index == 0
          mytime = o[0]['value']
          mytimeid = mytime.gsub(' ',  '')
          mytimeid = mytimeid.gsub('-',  '')
          listoftimes[mytime] = mytimeid 
        end
      end
    %>
  
    <%  listoftimes.each do |mytime, mytimeid| %>
        <div class="<%= "selecttime" %> ">
          <label id=<%= 'select' + mytimeid + 'label' %> class='checkboxzone' for="<%= 'select' + mytimeid %>">
            <input id=<%= 'select' + mytimeid %> class="selectshow selecttime" 
                 onclick="showhidetimes()" type="checkbox" checked> 
            <%= mytime %>
          </label>
        </div>
    <% end %>
    </div>
    
    <div>
    <%  listofsites.each_with_index do |site, i| %>
        <div class="<%= "selectSite" + site %> jumptosite">
          <input id=<%= 'hide' + site %> class="selectshow selectsite" 
                 onclick="showhidesites()" type="checkbox" checked><%= site + "  " %>
          <span id=<%= 'hide' + site + 'label' %> ></span>
        </div>
    <% end %>
  </div>
</div>

<div class=index id=index-tutor-students>
  <div class="selectbox floating-box">
      <h2 class='studentheader'>Select Student</h2>
      <input type="text" id="personInput" placeholder="Shorten list by keying in meaningful characters .." title="Type in characters to reduce name list">
  </div>

  <div class=index-students id=index-students>
    <%= render partial: "stats_students" %> 

  </div>
</div>

<div class=schedule>
  <% @cal.each do |location, calLocation| 
    if @compress   # remove days with no valid slot for this site
     usedColumns = calLocation[0][0]["days"].keys
     usedColumnsIndex = [0]
     for i in 1..(calLocation[0].length-1)
       if usedColumns.include?(calLocation[0][i]["value"]) then
         usedColumnsIndex.push(i)
       end
     end 
    end %>
    <% firsttablecolumn = true %>
    <table id=site-<%= location %> >
    <% calLocation.each_with_index do |rows, rowindex| %>
      <% rows.each_with_index do |cells, cellIndex|
        if rowindex > 0 && cellIndex == 0
          timeoflessonid = cells["value"]
          timeoflessonid = timeoflessonid.gsub('-', '')
          timeoflessonid = timeoflessonid.gsub(' ', '') %>
          <tr class="<%= timeoflessonid %> " >
        <% end
        if @compress      
          unless usedColumnsIndex.include?(cellIndex) then
             next
          end 
        end
        if(cellIndex != 0)
          celldatetime = calLocation[0][cellIndex]['datetime']
          celldow = 'dow' + celldatetime.wday.to_s
          celltermweek = ''
          if current_user.termstart != nil && current_user.termweeks != nil        
            termweek = ((celldatetime - current_user.termstart.to_datetime).to_i)/7
            if termweek >= 0 && termweek < current_user.termweeks
              celltermweek = 'W' + (termweek + 1).to_s
            end
          end
        end
        if cells.key?("slotid") then
          #cell_id_dom = cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0")
          cell_id_dom = cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0")
          %><td class="cell slot <%= celldow %>"  id=<%= cell_id_dom %>  >
        <% elsif cells.key?("value") then %>
          <% if firsttablecolumn == true then
            firsttablecolumn = false %> 
            <td class="cell firsttablecolumn "
          <% else 
            #byebug if rowindex != 0
            timeoflessonid = cells["value"]
            timeoflessonid = timeoflessonid.gsub('-', '')
            timeoflessonid = timeoflessonid.gsub(' ', '') %>
            <td class="cell <%= celldow %> <%= timeoflessonid %>" %>
          <% end %>
        <% else %>
           <td class="cell no-slot <%= celldow %>" %>
        <% end %> 
        <% if cells.key?("value") then 
             if cells.key?("datetime") then %>
               <div class='ratio <%= celldow %>'><%= 
               celldatetime.strftime("%a") %><br><%= celldatetime.strftime("%d%b") %><br><%= celltermweek %></div>
             <% else  %>
               <div class='ratio <%= celldow %>'><%= cells["value"].to_s %></div>
             <% end %>
        <% end %>
        <% if cells.key?('stats') %>
          <div class='statistics' ><%= 
            render partial: "stats_slot", locals: {stats: cells['stats']} 
          %></div>
        <% end %>
        <% if @slotAllocateLessonDom_id.key?(cells["slotid"].to_i) 
                 allocate_dom_id = @slotAllocateLessonDom_id[cells["slotid"].to_i]
              %><div class=slotlessons ><%= allocate_dom_id %><br></div><%
        end %>
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
  <br>
  <% end %>
</div>

  <nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li id="context-move" class="context-menu__item" data-action="move">
        <p>Move</p>
      </li>
      <li id="context-copy" class="context-menu__item" data-action="copy">
        <p>Copy</p>
      </li>
      <li id="context-paste" class="context-menu__item" data-action="paste">
        <p>Drop</p>
      </li>
    </ul>
  </nav>


