<div id="page_name" class="hideme">calendar</div>
<div id="sticky-header">
    <div class="flex">
      <div id=refreshcalendar class=buttonlink >Refresh Me</div>
      <h2 class="sticky-header__title blockheader"><%= @displayHeader %></h2>
      <span class="sticky-header__icon"></span>
    </div>
  <div id="sticky-header__collapsible">
    <% listofsites = Array.new
      listoftimes = Hash.new
       @cal.each do |location, calLocation| 
         listofsites.push(location)
        calLocation.each_with_index do |o, index|
          next if index == 0
          mytime = o[0]['value']
          mytimeid = mytime.gsub(' ',  '')
          mytimeid = mytimeid.gsub('-',  '')
          listoftimes[mytime] = mytimeid 
        end
       end
    %>
  
    <div id="options" class="hideme">
      <%= @options.to_json %>
    </div>
    

    <div id="selectshows">
        <div class="checklisttutors">
          <label id=hidetutorslabel class='checkboxzone' for="hidetutors">
            <input id=hidetutors class=selectshow onclick="selectshows(this)" type="checkbox" >
            Tutors
          </label>
          <label id=hidestudentslabel class='checkboxzone' for="hidestudents">
            <input id=hidestudents class=selectshow onclick="selectshows(this)" type="checkbox" >
            Students
          </label>;
          Hide Comments=>(<label id=hidecommentslabel class='checkboxzone' for="hidecomments">
                            <input id=hidecomments class=selectshow onclick="selectshows(this)" type="checkbox" >
                            All
                          </label>
        </div>
        <div class=checklistlesson>
          Lesson=>(
          <label id=hidetutorlessoncommentslabel class='checkboxzone' for="hidetutorlessoncomments">
            <input id=hidetutorlessoncomments class=selectshow onclick="selectshows(this)" type="checkbox" >
            tutors
          </label>, 
          <label id=hidestudentlessoncommentslabel class='checkboxzone' for="hidestudentlessoncomments">
            <input id=hidestudentlessoncomments class=selectshow onclick="selectshows(this)" type="checkbox" >
            students
          </label> ), 
        </div>
        
        <div class=checklistpersonal>
          Personal=>(
          <label id=hidetutorcommentslabel class='checkboxzone' for="hidetutorcomments">
            <input id=hidetutorcomments class=selectshow onclick="selectshows(this)" type="checkbox" >
            tutors
          </label>,
          <label id=hidestudentcommentslabel class='checkboxzone' for="hidestudentcomments">
            <input id=hidestudentcomments class=selectshow onclick="selectshows(this)" type="checkbox" >
            students
          </label> )
        </div>)
        
        <div class=checklistlessons>
          Hide=>(
          <label id=hidelessonsOnsetuplabel class='checkboxzone' for="hidelessonsOnsetup">
            <input id=hidelessonsOnsetup class=selectshow onclick="selectshows(this)" type="checkbox" >
            onSetup
          </label>
          <label id=hidelessonsOncalllabel class='checkboxzone' for="hidelessonsOncall">
            <input id=hidelessonsOncall   class=selectshow onclick="selectshows(this)" type="checkbox" >
            onCall
          </label>
          <label id=hidelessonsOnBFLlabel class='checkboxzone' for="hidelessonsOnBFL">
            <input id=hidelessonsOnBFL   class=selectshow onclick="selectshows(this)" type="checkbox" >
            onBFL
          </label>
          <label id=hidelessonsFreelabel class='checkboxzone' for="hidelessonsFree">
            <input id=hidelessonsFree     class=selectshow onclick="selectshows(this)" type="checkbox" >
            free
          </label>
          <label id=hidelessonsStandardlabel class='checkboxzone' for="hidelessonsStandard">
            <input id=hidelessonsStandard class=selectshow onclick="selectshows(this)" type="checkbox" >
            standard
          </label>
          <label id=hidelessonsRoutinelabel class='checkboxzone' for="hidelessonsRoutine">
            <input id=hidelessonsRoutine  class=selectshow onclick="selectshows(this)" type="checkbox" >
            routine
          </label>
          <label id=hidelessonsFlexiblelabel class='checkboxzone' for="hidelessonsFlexible">
            <input id=hidelessonsFlexible class=selectshow onclick="selectshows(this)" type="checkbox" >
            flexible
          </label>
          <label id=hidelessonsAllocatelabel class='checkboxzone' for="hidelessonsAllocate">
            <input id=hidelessonsAllocate class=selectshow onclick="selectshows(this)" type="checkbox" >
            allocate
          </label>
          <label id=hidelessonsGloballabel class='checkboxzone' for="hidelessonsGlobal">
            <input id=hidelessonsGlobal   class=selectshow onclick="selectshows(this)" type="checkbox" >
            global
          </label>
          <label id=hidelessonsParklabel class='checkboxzone' for="hidelessonsPark">
            <input id=hidelessonsPark   class=selectshow onclick="selectshows(this)" type="checkbox" >
            park
          </label> )
          <label id=hideAwaylabel class='checkboxzone' for="hideAway">
            <input id=hideAway class=selectshow onclick="selectshows(this)" type="checkbox" >
            status-away
          </label>
          <label id=hideAbsentlabel class='checkboxzone' for="hideAbsent">
            <input id=hideAbsent class=selectshow onclick="selectshows(this)" type="checkbox" >
            status-absent
          </label>
          
        </div>
        
        <input id=enableQuickStatus type="checkbox" > Enable quick setting of status to
        <select name="quickStatus" id="quickStatusValue">
          <option value="Attended">Attended</option>
          <option value="Confirmed">Confirmed</option>
          <option value="Notified">Notified</option>
          <option value="Scheduled">Scheduled</option>
          <option value="Deal">Deal</option>
          <option value="Absent">Absent</option>
          <option value="Away">Away</option>
          <option value="Awaycourtesy">Away Courtesy</option>
        </select><br>
        <input id=enableQuickKind type="checkbox" > Enable quick setting of kind to
        <select name="quickKind" id="quickKindValue">
          <option value="Standard">Standard</option>
        </select><br>
        <input id=enableQuickPersonStatus type="checkbox" > Enable quick setting of student-person-status to
        <select name="quickPersonStatus" id="quickPersonStatusValue">
          <option value="standard">Standard</option>
          <option value="onetoone">OneToOne</option>
          <option value="fortnightly">Fortnightly</option>
          <option value="new">New</option>
        </select>

        <div>
          <div class="selectdayofweek">
            <label id=selectdowonelabel class='checkboxzone' for="selectdowone">
              <input id=selectdowone class=selectshow onclick="showhidedowone()" type="checkbox" checked >
              Monday
            </label>
          </div>
          <div class="selectdayofweek">
            <label id=selectdowtwolabel class='checkboxzone' for="selectdowtwo">
              <input id=selectdowtwo class=selectshow onclick="showhidedowtwo()" type="checkbox" checked></input>
              Tuesday
            </label>
          </div>
          <div class="selectdayofweek">
            <label id=selectdowthreelabel class='checkboxzone' for="selectdowthree">
              <input id=selectdowthree class=selectshow onclick="showhidedowthree()" type="checkbox" checked></input>
              Wednesday
            </label>
          </div>
          <div class="selectdayofweek">
            <label id=selectdowfourlabel class='checkboxzone' for="selectdowfour">
              <input id=selectdowfour class=selectshow onclick="showhidedowfour()" type="checkbox" checked></input>
              Thursday
            </label>
          </div>
          <div class="selectdayofweek">
            <label id=selectdowfivelabel class='checkboxzone' for="selectdowfive">
              <input id=selectdowfive class=selectshow onclick="showhidedowfive()" type="checkbox" checked></input>
              Friday
            </label>
          </div>

          <%  listoftimes.each do |mytime, mytimeid| %>
              <div class="<%= "selecttime" %> ">
                <label id=<%= 'select' + mytimeid + 'label' %> class='checkboxzone' for="<%= 'select' + mytimeid %>">
                  <input id=<%= 'select' + mytimeid %> class="selectshow selecttime" 
                         onclick="showhidetimes()" type="checkbox" checked>
                  <%= mytime %>
                </label>
              </div>
          <% end %>
        </div>

        <% listofsites.each_with_index do |site, i| %>
        <div class="<%= "selectSite" + site %> jumptosite">
          <input id=<%= 'hide' + site %> class="selectshow selectsite" onclick="selectshows(this)" type="checkbox" ><%= site + "  " %> 
          <span id=<%= 'hide' + site + 'label' %> ></span>
        </div>
        <% end %>
    </div>
    
    <div id="selectSetStatus">
    </div>
    
    <div class="index hideme" id=index-tutor-students>
        <div class="selectbox floating-box">
            <h3>Select person</h3>
            <input type="text" id="personInput" placeholder="Shorten list by keying in meaningful characters .." title="Type in characters to reduce name list">
        </div>
    
        <div class=index-tutors id=index-tutors>
            <% @tutors.each do |tutor| %>
              <%= render partial: "index_tutor", locals: {tutor: tutor} %>
            <% end %>
        </div>
    
        <div class=index-students id=index-students>
            <% @students.each do |student| %>
              <%= render partial: "index_student", locals: {student: student} %>
            <% end %>
        </div>
    </div>
  </div>
</div>
<div class="schedule hideme">
<% @cal.each do |location, calLocation| 
  if @compress   # remove days with no valid slot for this site
   usedColumns = calLocation[0][0]["days"].keys
   usedColumnsIndex = [0]
   for i in 1..(calLocation[0].length-1)
     if usedColumns.include?(calLocation[0][i]["value"]) then
       usedColumnsIndex.push(i)
     end
   end 
  end %>
  <% firsttablecolumn = true %>
  <% #firsttablecolumninrow = true %>
  <table id=site-<%= location %> >
  <% calLocation.each_with_index do |rows, rowIndex| %>
    <% rows.each_with_index do |cells, cellIndex|
        if rowIndex > 0 && cellIndex == 0
          firsttablecolumninrow = true
          timeoflessonid = cells["value"]
          timeoflessonid = timeoflessonid.gsub('-', '')
          timeoflessonid = timeoflessonid.gsub(' ', '') %>
          <tr class="<%= timeoflessonid + ' c' + timeoflessonid %> " >
        <% end
      if @compress      
        unless usedColumnsIndex.include?(cellIndex) then
           next
        end 
      end
      if(cellIndex != 0)
        celldatetime = calLocation[0][cellIndex]['datetime']
        celldow = 'dow' + celldatetime.wday.to_s
        celltermweek = ''
        if current_user.termstart != nil && current_user.termweeks != nil        
          termweek = ((celldatetime - current_user.termstart.to_datetime).to_i)/7
          if termweek >= 0 && termweek < current_user.termweeks
            celltermweek = 'W' + (termweek + 1).to_s
          end
        end
      end
      if cells.key?("slotid") then 
          #cell_id_dom = cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0")
          cell_id_dom = cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0")
      %><td class="cell slot <%= celldow %>" id=<%= cell_id_dom %>  >
      <% elsif cells.key?("value") then %>
        <% if firsttablecolumn == true then
          firsttablecolumn = false
          firsttablecolumninrow = false %>
          <td class="cell firsttablecolumn" ><%
        elsif firsttablecolumninrow == true then
          firsttablecolumninrow = false 
          %>
          <td class="cell firsttablecolumninrow" >
        <% else %>
          <td class="cell <%= celldow %>" %>
        <% end %>
      <% else %>
         <td class="cell no-slot <%= celldow %>" %>
      <% end %> 
      <% if cells.key?("values") then %>       
        <% if cells["values"].respond_to?(:each) then %>
          <% #slot = cells["id_dom"] 
              slot = cell_id_dom
          %>
          <% cells["values"].each do |entry| %>
            <%= render partial: "schedule_lesson", 
                locals: {slot: slot, lesson: entry} %>
          <% end %>
        <% end %>
      <% elsif cells.key?("value") then %>
        <% if cellIndex > 0  # not first column %>
          <%= cells["value"].sub('-', "-#{celltermweek}-") %>
        <% else %>
          <%= cells["value"].to_s %>
        <% end %>
      <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
<% end %>
</div>

  <nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li id="context-move" class="context-menu__item" data-action="move">
        <p>Move</p>
      </li>
      <li id="context-moverun" class="context-menu__item" data-action="moverun">
        <p>Move run</p>
      </li>
      <li id="context-moverunsingle" class="context-menu__item" data-action="moverunsingle">
        <p>Move run Single</p>
      </li>
      <li id="context-copy" class="context-menu__item" data-action="copy">
        <p>Copy</p>
      </li>
      <li id="context-toglobal" class="context-menu__item" data-action="toglobal">
        <p>to Global</p>
      </li>
      <li id="context-paste" class="context-menu__item" data-action="paste">
        <p>Drop</p>
      </li>
      <li id="context-remove" class="context-menu__item" data-action="remove">
        <p>Remove</p>
      </li>
      <li id="context-removerun" class="context-menu__item" data-action="removerun">
        <p>Remove run</p>
      </li>
      <li id="context-extendrun" class="context-menu__item" data-action="extendrun">
        <p>Extend run</p>
      </li>
      <li id="context-addLesson" class="context-menu__item" data-action="addLesson">
        <p>Add Lesson</p>
      </li>    
      <li id="context-extendLessonrun" class="context-menu__item" data-action="extendLessonrun">
        <p>Extend Lesson run</p>
      </li>    
      <li id="context-toSingleChainLesson" class="context-menu__item" data-action="toSingleChainLesson">
        <p>to Single Chain Lesson</p>
      </li>    
      <li id="context-removeLesson" class="context-menu__item" data-action="removeLesson">
        <p>Remove Lesson</p>
      </li>    
      <li id="context-removeLessonrun" class="context-menu__item" data-action="removeLessonrun">
        <p>Remove Lesson run</p>
      </li>    
      <li id="context-setStatus" class="context-menu__item" data-action="setStatus">
        <p>Set Status</p>
      </li>    
      <li id="context-setKind" class="context-menu__item" data-action="setKind">
        <p>Set Kind</p>
      </li>    
      <li id="context-setKindrun" class="context-menu__item" data-action="setKindrun">
        <p>Set Kind Run</p>
      </li>
      <li id="context-setPersonStatus" class="context-menu__item" data-action="setPersonStatus">
        <p>Set Person Status</p>
      </li>    
      <li id="context-editComment" class="context-menu__item" data-action="editComment">
        <p>Edit Comment</p>
      </li>    
      <li id="context-editDetail" class="context-menu__item" data-action="editDetail">
        <p>Edit Focus</p>
      </li>    
      <li id="context-editSubject" class="context-menu__item" data-action="editSubject">
        <p>Edit Subject</p>
      </li>    
      <li id="context-history" class="context-menu__item" data-action="history">
        <p>History</p>
      </li>    
      <li id="context-term" class="context-menu__item" data-action="term">
        <p>Term</p>
      </li>    
      <li id="context-chain" class="context-menu__item" data-action="chain">
        <p>Chain</p>
      </li>    
      <li id="context-inCalendar" class="context-menu__item" data-action="inCalendar">
        <p>in own Calendar</p>
      </li>  
      <li id="context-changes" class="context-menu__item" data-action="changes">
        <p>Changes</p>
      </li>  
      <li id="context-editEntry" class="context-menu__item" data-action="editEntry">
        <p>Edit Entry</p>
      </li>  
    </ul>
  </nav>
  
  <nav id="tertiary-menu" class="tertiary-menu">
    <div id="tertiary-menu-title"> Tertiary Menu Title</div>
    <ul class="tertiary-menu__choices">
      <li id="tutor-status-scheduled" class="tertiary-menu__choice" data-choice="tutor-status-scheduled">
        <p>tutor-status: Scheduled</p>
      </li>
      <li id="tutor-status-notified" class="tertiary-menu__choice" data-choice="tutor-status-notified">
        <p>tutor-status: Notified</p>
      </li>
      <li id="tutor-status-confirmed" class="tertiary-menu__choice" data-choice="tutor-status-confirmed">
        <p>tutor-status: Confirmed</p>
      </li>
      <li id="tutor-status-attended" class="tertiary-menu__choice" data-choice="tutor-status-attended">
        <p>tutor-status: Attended</p>
      </li>
      <li id="tutor-status-deal" class="tertiary-menu__choice" data-choice="tutor-status-deal">
        <p>tutor-status: Deal</p>
      </li>
      <li id="tutor-status-absent" class="tertiary-menu__choice" data-choice="tutor-status-absent">
        <p>tutor-status: Absent</p>
      </li>
      <li id="tutor-status-away" class="tertiary-menu__choice" data-choice="tutor-status-away">
        <p>tutor-status: Away</p>
      </li>
      <li id="tutor-kind-bfl" class="tertiary-menu__choice" data-choice="tutor-kind-BFL">
        <p>tutor-kind: BFL</p>
      </li>
      <li id="tutor-kind-bflassist" class="tertiary-menu__choice" data-choice="tutor-kind-BFLassist">
        <p>tutor-kind: BFL assist</p>
      </li>
      <li id="tutor-kind-oncall" class="tertiary-menu__choice" data-choice="tutor-kind-onCall">
        <p>tutor-kind: On Call</p>
      </li>
      <li id="tutor-kind-onsetup" class="tertiary-menu__choice" data-choice="tutor-kind-onSetup">
        <p>tutor-kind: On Setup</p>
      </li>
      <li id="tutor-kind-training" class="tertiary-menu__choice" data-choice="tutor-kind-training">
        <p>tutor-kind: Training</p>
      </li>
      <li id="tutor-kind-standard" class="tertiary-menu__choice" data-choice="tutor-kind-standard">
        <p>tutor-kind: Standard</p>
      </li>
      <li id="tutor-kind-called" class="tertiary-menu__choice" data-choice="tutor-kind-called">
        <p>tutor-kind: Called</p>
      </li>
      <li id="tutor-kind-relief" class="tertiary-menu__choice" data-choice="tutor-kind-relief">
        <p>tutor-kind: Relief</p>
      </li>
      <li id="tutor-kind-fifteen" class="tertiary-menu__choice" data-choice="tutor-kind-fifteen">
        <p>tutor-kind: Fifteen</p>
      </li>
      <li id="student-status-scheduled" class="tertiary-menu__choice" data-choice="student-status-scheduled">
        <p>student-status: Scheduled</p>
      </li>
      <li id="student-status-attended" class="tertiary-menu__choice" data-choice="student-status-attended">
        <p>student-status: Attended</p>
      </li>
      <li id="student-status-bye" class="tertiary-menu__choice" data-choice="student-status-bye">
        <p>student-status: Bye</p>
      </li>
      <li id="student-status-deal" class="tertiary-menu__choice" data-choice="student-status-deal">
        <p>student-status: Deal</p>
      </li>
      <li id="student-status-absent" class="tertiary-menu__choice" data-choice="student-status-absent">
        <p>student-status: Absent</p>
      </li>
      <li id="student-status-away" class="tertiary-menu__choice" data-choice="student-status-away">
        <p>student-status: Away</p>
      </li>
      <li id="student-status-awaycourtesy" class="tertiary-menu__choice" data-choice="student-status-awaycourtesy">
        <p>student-status: Away Courtesy</p>
      </li>
      <li id="student-status-queued" class="tertiary-menu__choice" data-choice="student-status-queued">
        <p>student-status: Queued</p>
      </li>
      <li id="student-status-expired" class="tertiary-menu__choice" data-choice="student-status-expired">
        <p>student-status: Expired</p>
      </li>
      <li id="student-kind-free" class="tertiary-menu__choice" data-choice="student-kind-free">
        <p>student-kind: Free</p>
      </li>
      <li id="student-kind-first" class="tertiary-menu__choice" data-choice="student-kind-first">
        <p>student-kind: First</p>
      </li>
      <li id="student-kind-catchup" class="tertiary-menu__choice" data-choice="student-kind-catchup">
        <p>student-kind: CatchUp</p>
      </li>
      <li id="student-kind-catchupcourtesy" class="tertiary-menu__choice" data-choice="student-kind-catchupcourtesy">
        <p>student-kind: CatchUp Courtesy</p>
      </li>
      <li id="student-kind-fortnightly" class="tertiary-menu__choice" data-choice="student-kind-fortnightly">
        <p>student-kind: Fortnightly</p>
      </li>
      <li id="student-kind-onetoone" class="tertiary-menu__choice" data-choice="student-kind-onetoone">
        <p>student-kind: OneToOne</p>
      </li>
      <li id="student-kind-standard" class="tertiary-menu__choice" data-choice="student-kind-standard">
        <p>student-kind: Standard</p>
      </li>
      <li id="student-kind-bonus" class="tertiary-menu__choice" data-choice="student-kind-bonus">
        <p>student-kind: Bonus</p>
      </li>
      <li id="student-personstatus-new" class="tertiary-menu__choice" data-choice="student-personstatus-new">
        <p>personStatus: New</p>
      </li>
      <li id="student-personstatus-fortnightly" class="tertiary-menu__choice" data-choice="student-personstatus-fortnightly">
        <p>personStatus: Fortnightly</p>
      </li>
      <li id="student-personstatus-onetoone" class="tertiary-menu__choice" data-choice="student-personstatus-onetoone">
        <p>personStatus: One To One</p>
      </li>
      <li id="student-personstatus-standard" class="tertiary-menu__choice" data-choice="student-personstatus-standard">
        <p>personStatus: Standard</p>
      </li>
      <li id="student-personstatus-inactive" class="tertiary-menu__choice" data-choice="student-personstatus-inactive">
        <p>personStatus: Inactive</p>
      </li>
      <li id="lesson-status-oncall" class="tertiary-menu__choice" data-choice="lesson-status-onCall">
        <p>lesson-kind: onCall</p>
      </li>
      <li id="lesson-status-onsetup" class="tertiary-menu__choice" data-choice="lesson-status-onSetup">
        <p>lesson-kind: onSetup</p>
      </li>
      <li id="lesson-status-allocate" class="tertiary-menu__choice" data-choice="lesson-status-allocate">
        <p>lesson-kind: allocate</p>
      </li>
      <li id="lesson-status-free" class="tertiary-menu__choice" data-choice="lesson-status-free">
        <p>lesson-kind: free</p>
      </li>
      <li id="lesson-status-on_BFL" class="tertiary-menu__choice" data-choice="lesson-status-on_BFL">
        <p>lesson-kind: on BFL</p>
      </li>
      <li id="lesson-status-routine" class="tertiary-menu__choice" data-choice="lesson-status-routine">
        <p>lesson-kind: routine</p>
      </li>
      <li id="lesson-status-flexible" class="tertiary-menu__choice" data-choice="lesson-status-flexible">
        <p>lesson-kind: flexible</p>
      </li>
      <li id="lesson-status-global" class="tertiary-menu__choice" data-choice="lesson-status-global">
        <p>lesson-kind: global</p>
      </li>
      <li id="lesson-status-park" class="tertiary-menu__choice" data-choice="lesson-status-park">
        <p>lesson-kind: park</p>
      </li>
      <li id="toglobal-free" class="tertiary-menu__choice" data-choice="toglobal-free">
        <p>to Global: free</p>
      </li>
      <li id="toglobal-first" class="tertiary-menu__choice" data-choice="toglobal-first">
        <p>to Global: first</p>
      </li>
      <li id="toglobal-bonus" class="tertiary-menu__choice" data-choice="toglobal-bonus">
        <p>to Global: bonus</p>
      </li>
      <li id="toglobal-standard" class="tertiary-menu__choice" data-choice="toglobal-standard">
        <p>to Global: standard</p>
      </li>
      <li id="edit-comment" class="tertiary-menu__choice" data-choice="edit-comment">
          <textarea id="edit-comment-text">Test Only.</textarea>
          <button id="edit-comment-button">Update</button>
          <div id="edit-comment-elementid" class="hideme"></div>
          <div id="edit-comment-action" class="hideme"></div>
      </li>
    </ul>
  </nav>

  <div class="lesson hideme" id=lessontemplate >
    <div class="grouptutors"></div>
    <div class="groupstudents"></div>
    <div class="lessoncomment comment commentinline">
      <div class="lessoncommenttext"></div>
      <div class="lessonstatusinfo status">Status: standard </div>
  </div>
  </div>

  <div id="histories" class="histories"  >
    <div id="history-template" class="history ui-widget-content hideme"></div>
  </div>

  <div id="duplicates" class="duplicates"  >
    <div id="duplicate-template" class="duplicate ui-widget-content hideme"></div>
    <% if @duplicates && @duplicates.length > 0 %>
      <div id="d1" class="duplicate ui-widget-content ">
        <h4>Duplicates</h4>
        <div id="closeduplicate"><svg height="300" width="300"><line x1="1" y1="1" x2="15" y2="15" style="stroke:#000; stroke-width:4" /><line x1="15" y1="1" x2="1" y2="15" style="stroke:#000; stroke-width:4" /></svg></div>
        <table>
        <tr><th>Slot</th><th>Name</th><th>Type</th></tr>
        <% @duplicates.each do |dup| %>
          <tr><td><%= dup[2] %></td><td><%= dup[1] %></td><td><%= dup[0] %></td></tr>
        <% end %>
        </table>
      </div>
    <% end %>
  </div>

