<div id="page_name" class="hideme">stats</div>
<h1><%= @displayHeader %> - statistics for allocations</h1>

<div>
  <div class="formatcatchup selectshowstats">
    <input id=hidecatchup onclick="showcatchup()" type="checkbox" checked>Catchup</input>
  </div>
  <div class="formatfree selectshowstats">
    <input id=hidefree onclick="showfree()" type="checkbox" >Free</input>
  </div>
  <div class="formatstats selectshowstats">
    <input id=hidestats onclick="showstats()" type="checkbox" >Stats</input>
  </div>
  <div class="formatslotlessons selectshowstats">
    <input id=hideslotlessons onclick="showslotlessons()" type="checkbox" >Lesson</input>
  </div>
</div>
<div>
  <div class="selectdayofweek">
    <input id=selectdowone onclick="showhidedowone()" type="checkbox" checked>Monday</input>
  </div>
  <div class="selectdayofweek">
    <input id=selectdowtwo onclick="showhidedowtwo()" type="checkbox" checked>Tuesday</input>
  </div>
  <div class="selectdayofweek">
    <input id=selectdowthree onclick="showhidedowthree()" type="checkbox" checked>Wednesday</input>
  </div>
  <div class="selectdayofweek">
    <input id=selectdowfour onclick="showhidedowfour()" type="checkbox" checked>Thursday</input>
  </div>
  <div class="selectdayofweek">
    <input id=selectdowfive onclick="showhidedowfive()" type="checkbox" checked>Friday</input>
  </div>
</div>

<div>
  <% listofsites = Array.new
    @cal.each do |location, calLocation| 
      listofsites.push(location)
    end
  
    listofsites.each_with_index do |site, i| %>
      <div class="<%= "selectSite" + site %> jumptosite">
      <input id=<%= 'hide' + site %> class="selectshow selectsite" 
             onclick="showhidesites()" type="checkbox" checked><%= site + "  " %> 
      </div>
  <% end %>
</div>


<div class=index id=index-tutor-students>
  <div class="selectbox floating-box">
      <h2>Select Student</h2>
      <input type="text" id="personInput" placeholder="Shorten list by keying in meaningful characters .." title="Type in characters to reduce name list">
  </div>

  <div class=index-students id=index-students>
    <% #@students_stats[student.id][lesson.id]['lesson_object'] %>
    <% @students_stats.each do |k, v |
       student = v['student_object'] %>
      <div class="student <%= "fs" + student.id.to_s.rjust(@sf, "0") 
        %>" id=<%= "s" + student.id.to_s.rjust(@sf, "0") %> >
        <div class=persongroup>
          <div class="studentname studentinline p-name"><%= student.pname %></div>
        </div>
        <div class=personstats>
          <div class="studentstats"><%= v['total'].to_s %></div>
        </div>
        <div class=personlessons>
          <% v['dom_ids'].each_with_index do |dom_id, i| %>
            <div class="personlesson">
              <% #byebug %>
              <div class='global' data-domid=<%= dom_id %> data-kind=<%= v['role_kind'][i] %> ><%= dom_id %> = <%=
                   slotDomidToText(dom_id) %> [<%= v['role_kind'][i] %>]</div>
              <div class='allocate' data-domid='' ></div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class=schedule>
  <% @cal.each do |location, calLocation| 
    if @compress   # remove days with no valid slot for this site
     usedColumns = calLocation[0][0]["days"].keys
     usedColumnsIndex = [0]
     for i in 1..(calLocation[0].length-1)
       if usedColumns.include?(calLocation[0][i]["value"]) then
         usedColumnsIndex.push(i)
       end
     end 
    end %>
    <% firsttablecolumn = true %>
    <table id=site-<%= location %> >
    <% calLocation.each_with_index do |rows, rowindex| %>
      <tr>
      <% rows.each_with_index do |cells, cellIndex|
        if @compress      
          unless usedColumnsIndex.include?(cellIndex) then
             next
          end 
        end
        if(cellIndex != 0)
          celldatetime = calLocation[0][cellIndex]['datetime']
          celldow = 'dow' + celldatetime.wday.to_s
        end
        if cells.key?("slotid") then
          #cell_id_dom = cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0")
          cell_id_dom = cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0")
          %><td class="cell slot <%= celldow %>"  id=<%= cell_id_dom %>  >
        <% elsif cells.key?("value") then %>
          <% if firsttablecolumn == true then
            firsttablecolumn = false %>
            <td class="cell firsttablecolumn" %>
          <% else %>
            <td class="cell <%= celldow %>" %>
          <% end %>
        <% else %>
           <td class="cell no-slot <%= celldow %>" %>
        <% end %> 
        <% if cells.key?("value") then 
             if cells.key?("datetime") then %>
               <div class='ratio <%= celldow %>'><%= 
               celldatetime.strftime("%a") %><br><%= celldatetime.strftime("%d%b") %></div>
             <% else  %>
               <div class='ratio <%= celldow %>'><%= cells["value"].to_s %></div>
             <% end %>
        <% end %>
        <% if cells.key?('stats') %>
          <div class='statistics' ><%= 
            render partial: "stats_slot", locals: {stats: cells['stats']} 
          %></div>
        <% end %>
        <% if @slotAllocateLessonDom_id.key?(cells["slotid"].to_i) 
                 allocate_dom_id = @slotAllocateLessonDom_id[cells["slotid"].to_i]
              %><div class=slotlessons ><%= allocate_dom_id %><br></div><%
        end %>
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
  <br>
  <% end %>
</div>

  <nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li id="context-move" class="context-menu__item" data-action="move">
        <p>Move</p>
      </li>
      <li id="context-copy" class="context-menu__item" data-action="copy">
        <p>Copy</p>
      </li>
      <li id="context-paste" class="context-menu__item" data-action="paste">
        <p>Drop</p>
      </li>
    </ul>
  </nav>


