<h1>Calendar#display3 - site rosters</h1>

<!--<div class="positionable" id=comments>
  <p>Test</p>
</div>-->

<% listofsites = Array.new
   @cal.each do |location, calLocation| 
     listofsites.push(location)
   end
%>

<div id="selectshows">
    <input id=hidecomments class=selectshow onclick="selectshows()" type="checkbox" > hide comments
    <% listofsites.each do |site| %>
    <input id=<%= 'hide' + site %> class=selectshow onclick="selectshows()" type="checkbox" ><%= 'hide ' + site %> 
    <% end %>
</div>

<% @cal.each do |location, calLocation| %>
<%     firsttablecolumn = true %>
  <table id=site-<%= location %> >
    <% calLocation.each do |rows| %>
      <tr>
      <% rows.each do |cells| %> 
        <% if cells.key?("slotid") then %>
          <td class="cell slot" id=<%= cells["id_dom"] + "l" + cells["slotid"].rjust(@sf, "0") %>  >
        <% elsif cells.key?("value") then %>
          <% if firsttablecolumn == true then
               firsttablecolumn = false %>
            <td class="cell firsttablecolumn" %>
          <% else %>
            <td class="cell" %>
          <% end %>
        <% else %>
          <td class="cell no-slot" %>
        <% end %> 
        <% if cells.key?("values") then %>       
          <% if cells["values"].respond_to?(:each) then %>
            <% cells["values"].sort_by {|obj| [valueOrderStatus(obj),valueOrder(obj)] }.each do |entry| %>
              <div class="lesson <%= set_class_status(entry, entry) %>" id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") %> >

                <div class="grouptutors">
                  <% if entry.tutors.respond_to?(:each) then %>
                    <% entry.tutors.sort_by {|obj| obj.pname }.each do |tutor| %>
                      <% if tutor then %>
                        <% if @tutorstatusforroster.include?(tutor.tutroles.where(lesson_id: entry.id).first.status) %>
                          <div class="tutor <%= "ft" + tutor.id.to_s.rjust(@sf, "0") %>" id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") + "t" + tutor.id.to_s.rjust(@sf, "0") %> >
                            <div style=persongroup>
                              <div class="tutorname tutorinline <%= set_class_status(tutor, entry) %>">tutor: <%= tutor.pname %></div>
                              <div class="tutorcomment comment tutorinline <%= set_class_kind(tutor, entry) %>">
                                <% thistutrole = entry.tutroles.where(tutor_id: tutor.id).first %>
                                <div class="tutorsubjects"><%= tutor.subjects %></div>
                                <div class="tutrolecomment"><%= thistutrole.comment %></div>
                                <div class="tutorcommentdetail"><%= tutor.comment %></div>
                                <div class="statusinfo">Status: <%= thistutrole.status %> Kind: <%= thistutrole.kind %> </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>                     
                    <% end %>
                  <% end %>
                </div>
                 
                <div class="groupstudents">
                  <% if entry.students.respond_to?(:each) then %>
                    <% entry.students.each do |student| %>
                      <% if student then %>
                      <% #byebug %>
                        <% if @studentstatusforroster.include?(student.roles.where(lesson_id: entry.id).first.status) %>
                          <div class="student <%= "fs" + student.id.to_s.rjust(@sf, "0") %>" id=<%= cells["id_dom"] + "n" + entry.id.to_s.rjust(@sf, "0") + "s" + student.id.to_s.rjust(@sf, "0") %> >
                            <div style=persongroup>
                              <div class="studentname studentinline <%= set_class_status(student, entry) %>">student: <%= student.pname %></div>
                              <div class="studentcomment comment studentinline <%= set_class_kind(student, entry) %>">
                                <% thisrole = entry.roles.where(student_id: student.id).first %>
                                <div class="studentsubjects"><%= student.sex == nil ? "" :
                                     student.sex.downcase.include?("female")?
                                     "(F) " : student.sex.downcase.include?("male")?
                                     "(M) " : "" 
                                     %> Yr: <%= student.year == nil ? "   " : student.year.rjust(3) %> | <%= student.study %></div>
                                <div class="rolecomment"><%= thisrole.comment %></div>
                                <div class="studentcommentdetail"><%= student.comment %></div>
                                <div class="statusinfo">Status: <%= thisrole.status %> Kind: <%= thisrole.kind %></div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>

                </div>

                <div class="lessoncomment comment commentinline">
                  <div class="lessoncommenttext"><% if entry.comments != nil && entry.comments != "" %><%= entry.comments %><% end %></div>
                  <div class="lessonstatusinfo"><% if entry.status != nil && entry.status != "" %>Status: <%= entry.status %> <% end %></div>
                </div>
                 
              </div>
            <% end %>
          <% end %>
        <% elsif cells.key?("value") then %>     
          <%= cells["value"].to_s %>
        <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>

  <nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li id="context-move" class="context-menu__item" data-action="move">
        <p>Move</p>
      </li>
      <li id="context-copy" class="context-menu__item" data-action="copy">
        <p>Copy</p>
      </li>
      <li id="context-paste" class="context-menu__item" data-action="paste">
        <p>Drop</p>
      </li>
      <li id="context-remove" class="context-menu__item" data-action="remove">
        <p>Remove</p>
      </li>
      <li id="context-addLesson" class="context-menu__item" data-action="addLesson">
        <p>Add Lesson</p>
      </li>    
      <li id="context-removeLesson" class="context-menu__item" data-action="removeLesson">
        <p>Remove Lesson</p>
      </li>    
      <li id="context-setStatus" class="context-menu__item" data-action="setStatus">
        <p>Set Status</p>
      </li>    
      <li id="context-setKind" class="context-menu__item" data-action="setKind">
        <p>Set Kind</p>
      </li>    
      <li id="context-editComment" class="context-menu__item" data-action="editComment">
        <p>Edit Comment</p>
      </li>    
      <li id="context-editSubject" class="context-menu__item" data-action="editSubject">
        <p>Edit Subject</p>
      </li>    
      <li id="context-history" class="context-menu__item" data-action="history">
        <p>History</p>
      </li>    
    </ul>
  </nav>
  
  <nav id="tertiary-menu" class="tertiary-menu">
    <div id="tertiary=menu-title"> Tertiary Menu Title</div>
    <ul class="tertiary-menu__choices">
      <li id="tutor-status-deal" class="tertiary-menu__choice" data-choice="tutor-status-deal">
        <p>tutor-status: Deal</p>
      </li>
      <li id="tutor-status-dealt" class="tertiary-menu__choice" data-choice="tutor-status-dealt">
        <p>tutor-status: Dealt</p>
      </li>
      <li id="tutor-status-scheduled" class="tertiary-menu__choice" data-choice="tutor-status-scheduled">
        <p>tutor-status: Scheduled</p>
      </li>
      <li id="tutor-status-notified" class="tertiary-menu__choice" data-choice="tutor-status-notified">
        <p>tutor-status: Notified</p>
      </li>
      <li id="tutor-status-confirmed" class="tertiary-menu__choice" data-choice="tutor-status-confirmed">
        <p>tutor-status: Confirmed</p>
      </li>
      <li id="tutor-status-attended" class="tertiary-menu__choice" data-choice="tutor-status-attended">
        <p>tutor-status: Attended</p>
      </li>
      <li id="tutor-kind-oncall" class="tertiary-menu__choice" data-choice="tutor-kind-onCall">
        <p>tutor-kind: On Call</p>
      </li>
      <li id="tutor-kind-onsetup" class="tertiary-menu__choice" data-choice="tutor-kind-onSetup">
        <p>tutor-kind: On Setup</p>
      </li>
      <li id="tutor-kind-bfl" class="tertiary-menu__choice" data-choice="tutor-kind-BFL">
        <p>tutor-kind: BFL</p>
      </li>
      <li id="tutor-kind-standard" class="tertiary-menu__choice" data-choice="tutor-kind-standard">
        <p>tutor-kind: Standard</p>
      </li>
      </li>
      <li id="tutor-kind-deal" class="tertiary-menu__choice" data-choice="tutor-kind-deal">
        <p>tutor-kind: Deal</p>
      </li>
      <li id="tutor-kind-called" class="tertiary-menu__choice" data-choice="tutor-kind-called">
        <p>tutor-kind: Called</p>
      </li>
      <li id="tutor-kind-away" class="tertiary-menu__choice" data-choice="tutor-kind-away">
        <p>tutor-kind: Away</p>
      </li>
      <li id="student-status-deal" class="tertiary-menu__choice" data-choice="student-status-deal">
        <p>student-status: Deal</p>
      </li>
      <li id="student-status-dealt" class="tertiary-menu__choice" data-choice="student-status-dealt">
        <p>student-status: Dealt</p>
      </li>
      <li id="student-status-attended" class="tertiary-menu__choice" data-choice="student-status-attended">
        <p>student-status: Attended</p>
      </li>
      <li id="student-kind-free" class="tertiary-menu__choice" data-choice="student-kind-free">
        <p>student-kind: Free</p>
      </li>
      <li id="student-kind-first" class="tertiary-menu__choice" data-choice="student-kind-first">
        <p>student-kind: First</p>
      </li>
      <li id="student-kind-standard" class="tertiary-menu__choice" data-choice="student-kind-standard">
        <p>student-kind: Standard</p>
      </li>
      <li id="lesson-status-oncall" class="tertiary-menu__choice" data-choice="lesson-status-onCall">
        <p>lesson-status: onCall</p>
      </li>
      <li id="lesson-status-onsetup" class="tertiary-menu__choice" data-choice="lesson-status-onSetup">
        <p>lesson-status: onSetup</p>
      </li>
      <li id="lesson-status-on_BFL" class="tertiary-menu__choice" data-choice="lesson-status-on_BFL">
        <p>lesson-status: on BFL</p>
      </li>
      <li id="lesson-status-standard" class="tertiary-menu__choice" data-choice="lesson-status-standard">
        <p>lesson-status: standard</p>
      </li>
      <li id="edit-comment" class="tertiary-menu__choice" data-choice="edit-comment">
          <textarea id="edit-comment-text">Test Only.</textarea>
          <button id="edit-comment-button">Update</button>
          <div id="edit-comment-elementid" class="hideme"></div>
      </li>
      <li id="edit-subject" class="tertiary-menu__choice" data-choice="edit-subject">
          <textarea id="edit-subject-text">Test Only.</textarea>
          <button id="edit-subject-button">Update</button>
          <div id="edit-subject-elementid" class="hideme"></div>
      </li>
    </ul>
  </nav>

  <div class="lesson hideme" id=lessontemplate >
    <div class="lessoncomment comment commentinline">status: standard</div>
  </div>

  <div id="histories" class="histories"  >
    <div id="history-template" class="history ui-widget-content hideme"></div>
  </div>


