<table class=tableofchanges>
  <thead>
    <tr>
      <th>Location</th>
      <th>Lesson Day/Time</th>
      <th>Type</th>
      <th>Value</th>
      <th>modified on</th>
      <th>by</th>
    </tr>
  </thead>

  <tbody>
    <% @student_change["data"].each do |r| 
      next unless ["comment", "comments", "status", "kind",
                   "subjects", "study"].include?(r['field'])
    %>
    <tr>
      <td><%= r['location'] %></td>
      <td><%= if r['timeslot'] != ''
                 r['timeslot'].strftime("%a %l:%M %p %d/%m/%Y") 
              end
      %></td>
      <td><%= xlateTableField(r['table'], r['field']) %></td>
      <td><%= r['value'] %></td>
      <td><%= r['modified'].localtime('+10:00').strftime("%a %l:%M %p %d/%m/%Y") %></td>
      <td><%= r['user'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
