<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Preferred Name' %><br>
    <%= f.text_field :pname %>
  </div>
  
  Sex
  <div class="field">
    <%= f.radio_button :sex, 'male' %>
    <%= label :sex_male, 'male' %>
    <%= f.radio_button :sex, 'female' %>
    <%= label :sex_female, 'female' %>
    <%= f.radio_button :sex, 'unknown' %>
    <%= label :sex_unknown, 'unknown' %>
  </div>

  Year
  <div class="field">
    <%= f.select :year, ['K','1','2','3','4','5','6','7','8','9','10','11','12','F'] %>
  </div>

  Status
  <div class="field">
    <%= f.select :status, ['new','fortnightly','onetoone','standard','inactive'] %>
  </div>

  <div class="field">
    <%= f.label 'Study Percentages' %><br>
    <%= f.text_field :study %>
  </div>

  <div class="field">
    <%= f.label 'Focus Notes' %><br>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
