<h1><%= @liststudenttitle %></h1>
<%= link_to "all student history", students_history_path %><br>
<%= link_to 'New Student', new_student_path %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Given Name</th>
      <th>Family Name</th>
      <th>Preferred Name</th>
      <th>Initials</th>
      <th>Sex</th>
      <th>Focus</th>
      <th>Status</th>
      <th>Year</th>
      <th>Study Percentages</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Inv Code</th>
      <th>Day Code</th>
      <th>Preferences</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.gname %></td>
        <td><%= student.sname %></td>
        <td><%= student.pname %></td>
        <td><%= student.initials %></td>
        <td><%= student.sex %></td>
        <td><%= student.comment %></td>
        <td><%= student.status %></td>
        <td><%= student.year %></td>
        <td><%= student.study %></td>
        <td><%= student.email %></td>
        <td><%= student.phone %></td>
        <td><%= student.invcode %></td>
        <td><%= student.daycode %></td>
        <td><%= student.preferences %></td>
        <td><%= link_to 'History', student_history_path(student) %></td>
        <td><%= link_to 'Changes', student_change_path(student) %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Student', new_student_path %>
<%= link_to 'Show all Students on one page', allstudents_path %>
