<p id="notice"><%= notice %></p>

<p>
  <strong>Given Name:</strong>
  <%= @student.gname %>
</p>

<p>
  <strong>Family Name:</strong>
  <%= @student.sname %>
</p>

<p>
  <strong>Preferred Name:</strong>
  <%= @student.pname %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @student.initials %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @student.sex %>
</p>

<p>
  <strong>Focus Notes:</strong>
  <%= @student.comment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Study Percentages:</strong>
  <%= @student.study %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Invoice Code:</strong>
  <%= @student.invcode %>
</p>

<p>
  <strong>Day Code:</strong>
  <%= @student.daycode %>
</p>

<p>
  <strong>Preferences:</strong>
  <%= @student.preferences %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
