<%= @tutor_history["tutor"].pname %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Lesson Kind</th>
      <th>Day & Time</th>
      <th>Location</th>
      <th>Tutors</th>
      <th>Students</th>
    </tr>
  </thead>

  <tbody>
    <% @tutor_history["lessons"].each do |r| %>
    <tr>
      <td><%= r[0] %></td>
      <td><%= r[1] %></td>
      <td><%= r[2].strftime("%a %l:%M %p %d/%m/%Y") %></td>
      <td><%= r[3] %></td>
      <td>
        <% r[4].each do |t| %>
          <%= t[0] %> 
          <% if t[1] != "" %>
            (<%= t[1] %>)
          <% end %>
          <br>
        <% end %>
      </td>
      <td>
        <% r[5].each do |s| %>
          <%= s[0] %> 
          <% if s[1] != "" %>
            (<%= s[1] %>)
          <% end %>
          <br>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
