<p id="notice"><%= notice %></p>

<h1> Tutor Changes for <%= @tutor_change["tutor"].pname %></h1>
<p>Changes between <%= @tutor_change["startdate"].strftime("%a %d/%m/%Y") %>
   and <%= @tutor_change["enddate"].strftime("%a %d/%m/%Y") %> </p>

<%= render "change" %>
