<p id="notice"><%= notice %></p>

<p>
  <strong>Gname:</strong>
  <%= @tutor.gname if @tutor.gname %>
</p>

<p>
  <strong>Sname:</strong>
  <%= @tutor.sname if @tutor.sname %>
</p>

<p>
  <strong>Pname:</strong>
  <%= @tutor.pname %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @tutor.initials if @tutor.initials %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @tutor.sex if @tutor.sex %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @tutor.subjects if @tutor.subjects %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @tutor.comment if @tutor.comment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tutor.status if @tutor.status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tutor.email if @tutor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tutor.phone if @tutor.phone %>
</p>

<p>
  <strong>First Lesson trained:</strong>
  <%= @tutor.firstlesson if @tutor.firstlesson %>
</p>

<p>
  <strong>First Aid trained:</strong>
  <%= @tutor.firstaid if @tutor.firstaid %>
</p>

<p>
  <strong>BFL trained:</strong>
  <%= @tutor.bfl if @tutor.bfl %>
</p>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>