<%= form_for(@tutrole) do |f| %>
  <% if @tutrole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutrole.errors.count, "error") %> prohibited this tutrole from being saved:</h2>

      <ul>
      <% @tutrole.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :session_id %><br>
    <%= f.text_field :session_id %>
  </div>
  <div class="field">
    <%= f.label :tutor_id %><br>
    <%= f.text_field :tutor_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
