<%= form_for(@google) do |f| %>
  <% if @google.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@google.errors.count, "error") %> prohibited this google from being saved:</h2>

      <ul>
      <% @google.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :access_token %><br>
    <%= f.text_field :access_token %>
  </div>
  <div class="field">
    <%= f.label :refresh_token %><br>
    <%= f.text_field :refresh_token %>
  </div>
  <div class="field">
    <%= f.label :scope %><br>
    <%= f.text_field :scope %>
  </div>
  <div class="field">
    <%= f.label :expiration_time_millis %><br>
    <%= f.number_field :expiration_time_millis %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
