<h1>Listing lessons</h1>
<%= page_entries_info @lessons %>
<%= paginate @lessons %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Student</th>
      <th>Tutor</th>
      <th>Slot</th> <th>time</th> <th>place</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <% students = lesson.students %>
      <% tutors = lesson.tutors %>
      <% if lesson.slot_id %>
        <% slot = Slot.find(lesson.slot_id) %>
      <% end %>
      <tr>
        <td><%= lesson.id %></td>

        <% if students.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
            <td>
              <% students.each do |student| %>
                <%= student.pname %><br>
              <% end %>
            </td>
        <% end %>

        <% if tutors.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
          <td>
            <% tutors.each do |tutor| %>
              <%= tutor.pname %><br>
            <% end %>
          </td>
        <% end %>

        <% if slot.nil? %>
          <td></td> <td></td> <td></td>
        <% else %>
          <td><%= lesson.slot_id %></td>
          <td><%= slot.timeslot.strftime('%a %Y-%m-%d %l:%M %P') %></td>
          <td><%= slot.location %></td>
        <% end %>
        
        <td><%= lesson.comments %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= page_entries_info @lessons %>
<%= paginate @lessons %>


<br>
<%= link_to 'New Lesson', new_lesson_path %>