<p id="notice"><%= notice %></p>

<% students = @lesson.students %>
<% tutors = @lesson.tutors %>
<% slot = Slot.find(@lesson.slot_id) %>

<strong>Students</strong>
<% if students.count > 0 %>
  <% students.each do |student| %>
    <p>
      <%= student.id %>
      <%= ": " + student.pname  %>
    </p>
  <% end %>
<% else %>
  <p> Currently no students are selected </p>
<% end %>

<p>
  <strong>Tutors</strong>
</p>
<% if tutors.count > 0 %>
  <% tutors.each do |tutor| %>
    <p>
      <%= tutor.id %>
      <%= ": " + tutor.pname %>
    </p>
  <% end %>
<% else %>
  <p> Currently no tutors are selected </p>
<% end %>

<p>
  <strong>Slot:</strong>
  <%= @lesson.slot_id %>
</p>

<p>
  <%= slot.timeslot %> 
</p>
<p>
  <%= slot.location %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @lesson.comments if @lesson.comments %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Move', move_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
