<h1>Listing roles</h1>

<table>
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Student</th>
      <th>Status</th>
      <th>Kind</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| 
       byebug %>
      <tr>
        <td><%= role.lesson.id %></td>
        <td><%= role.student.pname %></td>
        <td><%= role.status %></td>
        <td><%= role.kind %></td>
        <td><%= role.comment %></td>
        <td><%= link_to 'Show', role %></td>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
