<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @role.session %>
</p>

<p>
  <strong>Student:</strong>
  <%= @role.student %>
</p>

<p>
  <strong>Status:</strong>
  <%= @role.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @role.comment %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
