<!DOCTYPE html>
<html>
<head>
  <title>Bit</title>
  <script src="//cdn.ably.io/lib/ably.min-1.js" crossorigin="anonymous" ></script>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% # template for menu taken from
     # https://www.internetkultur.at/simple-hamburger-drop-down-menu-with-css-and-jquery/ %>
  <% if user_signed_in? %>
    <div id='cssmenu'>
      <ul>
          <li><%= link_to "home", home_path %></li>
          <li class='active'><%= link_to "Calendar", flexibledisplay_path(:default => "test") %>
            <ul>
              <li><%= link_to "Flexible Display", displayoptions_path %></li>
              <li><%= link_to "This Week", flexibledisplay_path(:default => "thisweek") %></li>
              <li><%= link_to "Next Week", flexibledisplay_path(:default => "nextweek") %></li>
              <li><%= link_to "Today",     flexibledisplay_path(:default => "today") %></li>
              <li><%= link_to "Tomorrow",  flexibledisplay_path(:default => "tomorrow") %></li>
              <li><%= link_to "Yesterday", flexibledisplay_path(:default => "yesterday") %></li>
            </ul>
          </li>
          <li class='active'><%= link_to "Roster",
                      flexibledisplay_path(:bench => "roster",
                      :select_roster_default => "1") %>
            <ul>
              <li><%= link_to "Google_roster", googleroster_path %></li>
              <li><%= link_to "Flexible Display", displayoptions_path %></li>
              <li><%= link_to "Ratio",
                      flexibledisplay_path(:bench => "ratio",
                      :select_roster_default => "1") %></li>
              <li><%= link_to "Stats",
                      flexibledisplay_path(:bench => "stats") %></li>
            </ul>
          </li>
          <li class='active'><%= link_to "tutors", tutors_path %>
            <ul>
              <li><%= link_to "tutor roles", tutroles_path %></li>
            </ul>
          </li>
          <li class='active'><%= link_to "students", students_path %>
            <ul>
              <li><%= link_to "student roles", roles_path %></li>
            </ul>
          </li>
          <li class='active'><%= link_to "Slots", slots_path %>
            <ul>
              <li><%= link_to "lessons", lessons_path %></li>
            </ul>
          </li>
          <li><%= link_to "copydays", copydaysedit_path %>
            <ul>
              <li><%= link_to "copytermdays", copytermdaysedit_path %></li>
              <li><%= link_to "copytermweeks", copytermweeksedit_path %></li>
              <li><%= link_to "deletedays", deletedaysedit_path %></li>
            </ul>
          </li>
          <% if current_user.role == 'admin' %>
            <li><%= link_to "load", load_path %></li>
          <% end %>
          <li class='active'><%= link_to "Logout", destroy_user_session_path, method: :delete  %>
            <ul>
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li><%= link_to 'Edit preferences', edit_user_preferences_path %></li>
              <% if current_user.role == 'admin' %>
                <li><%= link_to 'Edit roles', index_user_roles_path %></li>
              <% end %>
            </ul>
          </li>
          <li><p class="menu-text">User: <strong><%= current_user.email %></strong></p></li>
      </ul>
    </div>
  <% end %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    <% if false %>
    User: <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to 'Edit preferences', edit_user_preferences_path, :class => 'navbar-link' %> |
    <% if current_user.role == 'admin' %>
      <%= link_to 'Edit roles', index_user_roles_path, :class => 'navbar-link' %> |
    <% end %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% end %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
  </p>

  <%= yield %>

</body>
</html>
